{% extends 'layouts.html' %}


{%block contentA%}

<div class="jumbotron home" style="background-color: rgb(19, 25, 63); margin-bottom: 0%; margin-top: 0%;" >
  <div style="margin-bottom:0%">

    
    </div>
    <center><h1 style="color: rgb(211, 177, 24);">AtraxxDev</h1></center>
    <br>

        
<div style="margin-top: 2% ; margin-left: 10% ; margin-right: 10%;">
 <table>

</div>
<h2 style="color: rgb(211, 177, 24); font-size: 35px ">Proyectos Propios </h2>
<br>

<tr>
<th width="15%"><a href="https://atraxxdev.itch.io/reallycash"><img src="https://cdn.discordapp.com/attachments/1011693764642877553/1025681540333711431/unknown.png" alt="" width="250" height="200"></th></a></th>
<th width="60%">
<h2 style="color: rgb(211, 177, 24);"> Reallycash </h2>
<p style="color: rgb(211, 177, 24);">
 “Juego Runner basado en un contador que desea completar las monedas de su nomina para así regresar feliz a casa".
</p>
</th>
<tr>
  <th width="15%"><a href=""> <br> <img src="https://cdn.discordapp.com/attachments/1011693764642877553/1046658776125681664/Portada_Elliot_Final-min.png" alt="" width="250" height="350"></th></a></th>
  <th width="60%">
    
  <h2 style="color: rgb(211, 177, 24);"> What Is There</h2>
  
  <p style="color: rgb(211, 177, 24);">
   “What Is There es un juego de genero de terror psicologico donde el jugador es un investigador paranormal que fue contratado para descubir la razon de la desaparicion de la familia BradFord, pero con lo que no contaba era que algo lo estaria observando y le impediria llegar a la verdad".
  </p>
  </th>


 </table>
</div>


<div style="margin-top: 5% ; margin-left: 10% ; margin-right: 10%;">
<table>
 </div>

 <h2 style="color: rgb(211, 177, 24); font-size: 35px ">Proyectos en conjunto </h2>
 <br>
 <tr>
 <th width="15%"><a href="https://skullsociety.itch.io/crazypiratedungeonfps"><img src="https://cdn.discordapp.com/attachments/1011693764642877553/1025680118703734805/unknown.png" alt="" width="250" height="150"></th></a></th>
 <th width="60%">
 <h2 style="color: rgb(211, 177, 24);"> PiratesDungeon</h2>
 <p style="color: rgb(211, 177, 24);">
  “PiratesDungeon es un juego de disparos en 1ra persona el cual esta repleto de acción que solo los mas aptos son capaces de completar, Eres un pirata que lucha contra una presencia maligna en el mar y solo tu pistola y buenos reflejos te ayudaran a completar la travesía por el tesoro".
 </p>
 </th>
 </tr>

 <tr>
  <th width="15%"><a href="https://sergiogg05.itch.io/xolosride"><img src="https://cdn.discordapp.com/attachments/1011693764642877553/1046653421287116820/Xolo_03.png" alt="" width="250" height="250"></th></a></th>
  <th width="60%">
  <h2 style="color: rgb(211, 177, 24);"> Xolo's Ride </h2>
  <p style="color: rgb(211, 177, 24);">
   “PiratesDungeon es un juego de disparos en 1ra persona el cual esta repleto de acción que solo los mas aptos son capaces de completar, Eres un pirata que lucha contra una presencia maligna en el mar y solo tu pistola y buenos reflejos te ayudaran a completar la travesía por el tesoro".
  </p>
  </th>
  </tr>
</table>
 
  


<div class="jumbotron home" style="background-color: rgb(19, 25, 63); margin-bottom: 0%; margin-top: 0%;" >
    
  </div>

  



















{%endblock contentA%}



