{% extends 'layouts.html' %}


{%block contentA%}

<div class="jumbotron home" style="background-color: rgb(19, 25, 63); margin-bottom: 0%; margin-top: 0%;" >
  <div style="margin-bottom:0%">

    
    </div>
    <center><h1 style="color: rgb(211, 177, 24);">IvanDev</h1></center>
    <br>

        
<div style="margin-top: 2% ; margin-left: 10% ; margin-right: 10%;">
 <table>

</div>
<h2 style="color: rgb(211, 177, 24); font-size: 35px ">Proyectos Propios </h2>
<br>

<tr>
<th width="15%"><a href="https://super-sentai-mexicano.itch.io/silas-el-indolente"><img src="https://cdn.discordapp.com/attachments/1011693764642877553/1025872270339625010/unknown.png" alt="" width="350" height="200"></th></a></th>
<th width="60%">
<h2 style="color: rgb(211, 177, 24);"> Silas El Indolente </h2>
<p style="color: rgb(211, 177, 24);">
 “Silas, se encuentra en una quest para poder saciar el hambre de su culpa de errores pasados.".
</p>
</th>

 </table>
</div>


<div style="margin-top: 5% ; margin-left: 10% ; margin-right: 10%;">
<table>
 </div>

 <h2 style="color: rgb(211, 177, 24); font-size: 35px ">Proyectos en conjunto </h2>
 <br>
 <tr>
 <th width="15%"><a href="https://skullsociety.itch.io/crazypiratedungeonfps"><img src="https://cdn.discordapp.com/attachments/1011693764642877553/1025680118703734805/unknown.png" alt="" width="300" height="200"></th></a></th>
 <th width="60%">
 <h2 style="color: rgb(211, 177, 24);"> PiratesDungeon</h2>
 <p style="color: rgb(211, 177, 24);">
  “PiratesDungeon es un juego de disparos en 1ra persona el cual esta repleto de acción que solo los mas aptos son capaces de completar, Eres un pirata que lucha contra una presencia maligna en el mar y solo tu pistola y buenos reflejos te ayudaran a completar la travesía por el tesoro".
 </p>
 </th>
 </tr>

 <tr>
  <th width="15%"><a href="https://sergiogg05.itch.io/xolosride"><br><img src="https://cdn.discordapp.com/attachments/1011693764642877553/1046665999220490270/image.png" alt="" width="300" height="250"></th></a></th>
  <th width="60%">
  <h2 style="color: rgb(211, 177, 24);"> Hungry Axolotl</h2>
  <p style="color: rgb(211, 177, 24);">
   ““Hungry Axolotl” es un juego de estrategia/puzzle en donde el jugador guiará a un Ajolote hambriento a su comida , tendrá que mover y jalar obstáculos para así liberar el camino.".
  </p>
  </th>
  </tr>
</table>
 
  


<div class="jumbotron home" style="background-color: rgb(19, 25, 63); margin-bottom: 0%; margin-top: 0%;" >
    
  </div>

  



















{%endblock contentA%}



